<section class="about">
  <div class="container">
    <div class="about__wrap">
      <div class="about__item">
        <img src="assets/img/about-img.png" alt="">
      </div>
      <div class="about__item">
        <p class="title">About company</p>
        <p class="subtitle">The Best Of Product Your Business</p>
        <div class="about__desc">
          <p>There are many variations of passages of lorem Ipsum available but the majority have suffered alteration in some form by inject rated humour or randomised this like.
          </p>
        </div>
        <div class="about__text">
          <p>Highest quality security, Network uptime, fast output. Unlimited scale and customizing possibilities.</p>
          <p>Murad Hasan, <span>Head Of Idea</span></p>
        </div>
        <button class="btn">Read more</button>
      </div>
    </div>
  </div>
</section>
