@import 'variables';

:host {
  display: block;
  width: calc(100% / 4 - 20px);
  margin: 0 10px;
  margin-bottom: 20px;
  @include media(mdx) {
    width: calc(100% / 3 - 20px);
  }
  @include media(sm) {
    width: calc(100% / 2 - 20px);
  }
  @include media(xs) {
    width: 100%;
    max-width: 306px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.team {
  &__socials {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.5s;
  }
  &__image {
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(22, 28, 45, 0.4);
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
    }
    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }
      .team__socials {
        bottom: 30px;
      }
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__box {
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7426;
    border-radius: 50%;
    transition: 0.3s background-color;
    svg {
      display: block;
      fill: #fff;
      transition: 0.3s fill;
    }
    &:hover {
      background-color: #fff;
      svg {
        fill: #ff7426;
      }
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__content {
    padding: 35px 10px 20px 10px;
    box-shadow: 0px 10px 60px 0px rgba(22, 28, 45, 0.06);
  }
  &__title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 700;
  }
  &__position {
    font-size: 16px;
    line-height: 1.5;
    color: #ff7426;
    text-align: center;
    text-transform: capitalize;
  }
}
